@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

@media screen and (min-width:100px) and (max-width:390px){
    .firstr{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        animation-name:main;
        animation-iteration-count:1;
        animation-duration:3s;
        transition: opacity(0.1);
        padding-left:2mm;
    }
}

body{
    background-image:url("/Images/back6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation-name:main;
    animation-iteration-count:1;
    animation-duration:3s;
    transition: opacity(0.1);
}

@keyframes main{
    from{
        opacity:0.1;
    }
    to{
        opacity:0.9;
    }
}


.firstr{
    animation-name:ani1;
    animation-duration:2s;
    animation-iteration-count: infinite;
}

@keyframes ani1{
    from{
        background-image:radial-gradient(rgb(0, 140, 255),rgb(0, 0, 0));
    }
    to{
        background-image:radial-gradient(rgb(0, 0, 0),rgb(0, 132, 255));
    }
}

.logo{
    padding-top:4mm;
    padding-left:5mm;
    animation-name:main1;
    animation-iteration-count:1;
    animation-duration:2s;
    transition:transform 300s;
}
.items{
    display: flex;
    margin-top:15mm;
    padding-top:4mm;
    padding-left:15mm;
    font-weight:800;
    font-size:16px;

}

.items a:hover{
    padding:3mm;
    font-size:18px;
    background-image: linear-gradient(yellow,rgb(0, 225, 255));
    color:rgb(255, 255, 255);
}

.items a{
    color:rgb(229, 255, 0);
    text-decoration: none;
}

.heading-1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top:8mm;
    padding-left:8mm;
    background-image:linear-gradient(to right,rgb(255, 208, 0),rgb(0, 217, 255));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-size:13mm;
}

.heading-1::first-letter{
    font-size:18mm;
}


.heading-2{
    padding-top:12mm;
    text-indent:5mm;
    background-image:linear-gradient(to right,white,rgb(17, 0, 255),rgb(0, 255, 0));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kanit', sans-serif;
    font-weight:700;
}
.para{
    color:white;
    text-align:justify;
    text-indent:2cm;
    padding-left:8mm;
    font-family:Baskerville Old Face;
    font-weight:900;
    background-image:linear-gradient(to right,rgb(255, 255, 255),rgb(255, 0, 106));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-size:5mm;
}

.para2{
    color:white;
    text-align:left;
    padding-left:8mm;
    font-family:cursive;
    background-image:linear-gradient(to right,rgb(255, 255, 255),rgb(255, 0, 106));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-size:5mm;
}
.acer{
    padding-top:1.5cm;
    padding-left:10mm;
    opacity:0.7;
    animation-name:main2;
    animation-iteration-count:1;
    animation-duration:2s;
    border-radius:35px;
    transition:width 300s
}

@keyframes main2{
    from{
        width:280px;
        height:220px;
    }
    to{
        width:300px;
        height:240px;
    }
}

@keyframes main1{
    from{
        transform:rotate(360deg)
    }
}

.acer:hover{
    opacity:0.9;
    width:500px;
}

.image2{
    padding-top:12mm;
    padding-left:15mm;
    opacity:0.7;
    border-radius:35px;
    animation-name:main2;
    animation-iteration-count:1;
    animation-duration:2s;
}

.image2:hover{
    opacity:0.9;
}

.paddingt{
    padding-top:2cm;
}

.foot{
    background-image:linear-gradient(rgb(17, 61, 63),rgb(41, 105, 107));
}

.contact{
    padding-top:3mm;
    text-indent:5mm;
    color:rgb(255, 255, 255);
}

.cc{
    padding-left:8mm;
    padding-top:5mm;;
    font-size:5mm;
    color:aliceblue;
    font-family:cursive;
    background-image:linear-gradient(to right,rgb(255, 255, 255),rgb(30, 255, 0));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.cc1{
    
    padding-left:8mm;
    padding-top:2mm;;
    font-size:5mm;
    color:aliceblue;
    font-family:cursive;
}

.foot{
    border:2px groove rgb(255, 255, 255);
}