
    span{
        background:rgb(255, 217, 0);
        color:rgb(82, 64, 64);
        font-weight:bold;
        font-size:10px;
        text-align:left;
        height:1.5cm;
        padding:2px;
        margin-left:4cm;
        margin-top:1cm;
        font-family: 'Gabriela', serif;
        font-size:5mm;
    }
   